<app-header></app-header>
<div class="container">
  <app-todo-edit [todo]="editTodo" (todoEmitter)="onTodoSaved($event)"></app-todo-edit>
  <br>
  <div class="list-group ">
    <div class="list-group-item clearfix" *ngFor="let todo of todoList">
      <div class="row">
        <div class="col-md-1">
          <input type="checkbox" [(ngModel)]="todo.isCompleted" name="status">
        </div>
        <div class="col-md-10">
            <p>{{todo.description}}</p>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="onEdit(todo)">Edit</button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="onDelete(todo)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>


